<!-- users.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopme Admin Panel</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/users.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <!-- Include navigation bar -->
    <div th:replace="~{fragments/nav.html}"></div>

    <div class="container">
        <div>
            <h2 class="my-4 text-center">Manage Users</h2>
            <a th:href="@{/users/new}">Create new user</a>
        </div>

        <div th:if="${message != null and not #strings.isEmpty(message)}">
            <div class="alert alert-success text-center">[[${message}]]</div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center">
                <thead class="table-dark">
                <tr>
                    <th>User ID</th>
                    <th>Photo</th>
                    <th>E-mail</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Roles</th>
                    <th>Enabled</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${listUsers}">
                    <td th:text="${user.id}"></td>
                    <td><img th:src="@{/images/{img}(img=${user.photos})}" alt="User Photo" class="rounded-circle" width="50"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.roles}"></td>
                    <td>
                        <span class="badge bg-success" th:if="${user.enabled}">Active</span>
                        <span class="badge bg-danger" th:unless="${user.enabled}">Inactive</span>
                    </td>
                    <td>
                        <a href="#" class="btn btn-sm btn-primary"><i class="fas fa-edit">Edit</i></a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="fas fa-trash">Delete</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Include footer -->
    <div th:insert="~{fragments/footer}"></div>
</div>
</body>
</html>
